@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

h2 {
    color: #041e50;
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: 300;
    text-align: center;
}

h2 b {
    font-weight: bold;
}

p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #222222;
    text-align: center;
    text-transform: none;
}

a.confira {
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 15px 40px;
    border: 1px solid #ffffff;
    font-size: 13px;
    letter-spacing: 2px;
    text-align: center;
}

a.confira.blue{
    color: #041e50;
    border: 1px solid #041e50;
}

a.confira:hover {
    background-color: rgba(255, 255, 255, .3);
}

/*pre header*/
.pre-header {
    width: 100%;
    background-color: #041e50;
}

.beneficios {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 10px;
    height: 37px;
    align-items: center;
    padding: 0;
}

.beneficios li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 3rem;
    border-right: 1px solid #c4c4c4;
    height: 21px;
}

.beneficios li:last-child {
    border-right: none;
}

.beneficios li img {
    margin-right: 15px;
}

/*header*/
#header {
    width: 100%;
}

.header-row {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.search {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 10px 30px;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 9px;
    background: url(../images/icones/busca.png) transparent no-repeat;
    background-position: 95% 50%, center;
    width: 340px;
    height: 41px;
}

.contato {
    color: #041e50;
    font-size: 10px;
    display: flex;
    align-items: center;
}

.contato img {
    margin-right: 10px;
}

.login {
    color: #041e50;
    font-size: 10px;
    display: flex;
    align-items: center;
}

.login img {
    margin-right: 10px;
}

.bem-vindo {
    display: flex;
    flex-direction: column;
}

.visitante {
    font-size: 10px;
    font-weight: bold;
    color: #041e50;
    text-decoration: none;
}

.visitante::after {
    content: "\f0dd";
    font: normal normal normal 10px/1 FontAwesome;
}

.minha-conta {
    font-size: 7px;
    font-weight: 500;
    color: #041e50;
    text-decoration: none;
}

.cart {
    background-color: #041e50;
    width: 77px;
    text-align: center;
    padding: 0 10px;
}

.cart p {
    color: #ffffff;
    font-size: 7px;
    text-transform: uppercase;
}

.cart p span {
    font-size: 10px;
    text-transform: none;
    display: block;

}

/*menu header*/
#menu {
    width: 100%;

    border-top: 1px solid #c6c6c6;
}

.main-menu {
    margin: 0 auto;
    max-width: 1000px;

}

.main-menu ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.main-menu ul li.child-menu::after {
    content: "\f0dd";
    font: normal normal normal 10px/1 FontAwesome;

}

.main-menu ul li a {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #041e50
}

/*banner*/

#main-banner {
    max-width: 1280px;
    margin: 0 auto;
}

.banner {
    width: 100%;
    position: relative;
}

.banner img {
    width: 100%;
}

.banner .title-banner {
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: center;
    text-shadow: 1px 2px 5px #000000;
}

.banner .title-banner h3 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 4px;
}

.banner .title-banner h2 {
    color: #ffffff;
    font-size: 46px;
    font-weight: 300;
    letter-spacing: 4px;
}

.banner .title-banner h2 b {
    font-weight: 900;
    display: block;
}

.banner .title-banner .read-more {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    font-size: 13px;
    letter-spacing: 2px;
}

#main-banner .slick-prev,
#main-banner .slick-next {
    position: absolute;
    top: 50%;
    z-index: 50;
    width: 22px;
    height: 43px;
    margin-top: -15px;
    text-indent: -999em;
    border: none;
    cursor: pointer;
    outline: 0;
}

#main-banner .slick-prev {
    background: url(..//images/icones/arrow-left-white.png) center no-repeat transparent;
    background-size: contain;
    left: 30px;
}

#main-banner .slick-next {
    background: url(..//images/icones/arrow-right-white.png) center no-repeat transparent;
    background-size: contain;
    right: 30px;
}

#main-banner .slick-dots {
    left: 0;
    width: 100%;
    bottom: 20px;
    position: absolute;
    padding: 0;
    text-align: center;
}

#main-banner .slick-dots li {
    display: inline-block;
    margin-left: 5px;

}

#main-banner .slick-dots li button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 0;
    outline: none;
}

#main-banner .slick-dots li.slick-active button {
    background-color: #ffffff;
}

/*menu categoria*/
#category-menu {
    width: 100%;
    height: 210px;
}

#category-menu .category-menu-row {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

#category-menu .category-menu-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#category-menu .category-menu-col a {
    text-decoration: none;


}

#category-menu .category-menu-col a:hover {
    opacity: .5;
}

#category-menu .category-menu-col a p {
    color: rgba(4, 30, 80, .5);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

/*novidades*/
#novidades {
    width: 100%;
}

#novidades .novidades-row {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#novidades .novidades-col {
    flex: 50%;
    position: relative;

}

#novidades .novidades-col img {
    width: 100%;
}

#novidades .novidade-titulo {
    position: absolute;
    width: 100%;
    top: 20%;
    left: calc(100% - 640px);
    text-align: center;
}

#novidades .novidade-titulo h3 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 4px;
}

#novidades .novidade-titulo h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 4px;
}

#novidades .novidade-titulo h2 b {
    font-weight: 900;
    display: block;
}

/*intrumentos-destaques e produtos-destaques*/
#instrumentos-destaques,
#produtos-destaques {
    margin: 75px auto;
    text-align: center;
}

/*second-banner*/
#second-banner {
    width: 100%;
    background-color: rgba(60, 60, 60, .6);
}

#second-banner .second-banner-row {
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}

#second-banner .second-banner-row h2 {
    font-size: 40px;
    color: #ffffff;
}

/*footer*/
.footer {
    background-color: #041e50;
    display: flex;
}

.footer-col {}

.footer-row {}

.newslatter {}

#newslatter {}

.rodape {
    display: flex;
    justify-content: space-evenly;
}