@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

h2 {
    color: #041e50;
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: 300;
    text-align: center;
}

h2 b {
    font-weight: bold;
}

p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #222222;
    text-align: center;
    text-transform: none;
}

.confira {
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 15px 40px;
    border: 1px solid #ffffff;
    font-size: 13px;
    letter-spacing: 2px;
    text-align: center;
}

.confira.blue {
    color: #041e50;
    border: 1px solid #041e50;
}

.confira:hover {
    background-color: rgba(255, 255, 255, .3);
}

/*pre header*/
.pre-header {
    width: 100%;
    background-color: #041e50;
}

.beneficios {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 10px;
    height: 37px;
    align-items: center;
    padding: 0;
}

.beneficios li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 3rem;
    border-right: 1px solid #c4c4c4;
    height: 21px;
}

.beneficios li:last-child {
    border-right: none;
}

.beneficios li img {
    margin-right: 15px;
}

/*header*/
#header {
    width: 100%;
}

.header-row {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.search {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 10px 30px;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 9px;
    background: url(../images/icones/busca.png) transparent no-repeat;
    background-position: 95% 50%, center;
    width: 340px;
    height: 41px;
}

.contato {
    color: #041e50;
    font-size: 10px;
    display: flex;
    align-items: center;
}

.contato img {
    margin-right: 10px;
}

.login {
    color: #041e50;
    font-size: 10px;
    display: flex;
    align-items: center;
}

.login img {
    margin-right: 10px;
}

.bem-vindo {
    display: flex;
    flex-direction: column;
}

.visitante {
    font-size: 10px;
    font-weight: bold;
    color: #041e50;
    text-decoration: none;
}

.visitante::after {
    content: "\f0dd";
    font: normal normal normal 10px/1 FontAwesome;
}

.minha-conta {
    font-size: 7px;
    font-weight: 500;
    color: #041e50;
    text-decoration: none;
}

.cart {
    background-color: #041e50;
    width: 77px;
    text-align: center;
    padding: 0 10px;
}

.cart p {
    color: #ffffff;
    font-size: 7px;
    text-transform: uppercase;
}

.cart p span {
    font-size: 10px;
    text-transform: none;
    display: block;

}

/*menu header*/
#menu {
    width: 100%;

    border-top: 1px solid #c6c6c6;
}

.main-menu {
    margin: 0 auto;
    max-width: 1000px;

}

.main-menu ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.main-menu ul li.child-menu::after {
    content: "\f0dd";
    font: normal normal normal 10px/1 FontAwesome;

}

.main-menu ul li a {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #041e50
}

/*banner*/

#main-banner {
    max-width: 1280px;
    margin: 0 auto;
}

.banner {
    width: 100%;
    position: relative;
}

.banner img {
    width: 100%;
}

.banner .title-banner {
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: center;
    text-shadow: 1px 2px 5px #000000;
}

.banner .title-banner h3 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 4px;
}

.banner .title-banner h2 {
    color: #ffffff;
    font-size: 46px;
    font-weight: 300;
    letter-spacing: 4px;
}

.banner .title-banner h2 b {
    font-weight: 900;
    display: block;
}

.banner .title-banner .read-more {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    font-size: 13px;
    letter-spacing: 2px;
}

#main-banner .slick-prev,
#main-banner .slick-next {
    position: absolute;
    top: 50%;
    z-index: 50;
    width: 22px;
    height: 43px;
    margin-top: -15px;
    text-indent: -999em;
    border: none;
    cursor: pointer;
    outline: 0;
}

#main-banner .slick-prev {
    background: url(..//images/icones/arrow-left-white.png) center no-repeat transparent;
    background-size: contain;
    left: 30px;
}

#main-banner .slick-next {
    background: url(..//images/icones/arrow-right-white.png) center no-repeat transparent;
    background-size: contain;
    right: 30px;
}

#main-banner .slick-dots {
    left: 0;
    width: 100%;
    bottom: 20px;
    position: absolute;
    padding: 0;
    text-align: center;
}

#main-banner .slick-dots li {
    display: inline-block;
    margin-left: 5px;

}

#main-banner .slick-dots li button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 0;
    outline: none;
}

#main-banner .slick-dots li.slick-active button {
    background-color: #ffffff;
}

/*menu categoria*/
#category-menu {
    width: 100%;
    height: 210px;
}

#category-menu .category-menu-row {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

#category-menu .category-menu-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#category-menu .category-menu-col a {
    text-decoration: none;


}

#category-menu .category-menu-col a:hover {
    opacity: .5;
}

#category-menu .category-menu-col a p {
    color: rgba(4, 30, 80, .5);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

/*novidades*/
#novidades {
    width: 100%;
}

#novidades .novidades-row {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#novidades .novidades-col {
    flex: 50%;
    position: relative;

}

#novidades .novidades-col img {
    width: 100%;
}

#novidades .novidade-titulo {
    position: absolute;
    width: 100%;
    top: 20%;
    left: calc(100% - 640px);
    text-align: center;
}

#novidades .novidade-titulo h3 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 4px;
}

#novidades .novidade-titulo h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 4px;
}

#novidades .novidade-titulo h2 b {
    font-weight: 900;
    display: block;
}

/*intrumentos-destaques, produtos-destaques, melhores-marcas*/
#instrumentos-destaques,
#produtos-destaques,
#melhores-marcas {
    margin: 75px auto;
    text-align: center;
}

#instrumentos-destaques .instrumentos-destaques-row {
    margin: 0 auto;
    max-width: 1000px;
}

#instrumentos-destaques .instrumentos-tab {
    overflow: hidden;
    border-bottom: 1px solid #041e50;
    display: flex;
    justify-content: space-around;
}

#instrumentos-destaques .instrumentos-tab button {
    border: 0;
    background-color: transparent;
    padding: 15px 20px;
    font-size: 20px;
    color: #041e50;
    font-weight: 300;
    outline: none;
    cursor: pointer;
}

#instrumentos-destaques .instrumentos-tab button.active {
    font-weight: bold;
    border-bottom: 2px solid #041e50;
    font-size: 20px;
}

#instrumentos-destaques .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

#instrumentos-destaques .tabcontent.active {
    justify-content: start;
    flex-wrap: wrap;
    display: flex;
}

/*second-banner*/
#second-banner {
    width: 100%;
    background-color: rgba(60, 60, 60, .6);
}

#second-banner .second-banner-row {
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}

#second-banner .second-banner-row h2 {
    font-size: 40px;
    color: #ffffff;
}

/*produtos-destaque*/
#produtos-destaques .prateleira-row {
    display: flex;
    max-width: 1200px;
    margin: 60px auto;
    flex-wrap: wrap;
}

#produtos-destaques .prateleira-col,
#instrumentos-destaques .prateleira-col {
    flex: calc(25% - 30px);
    margin: 15px;
    max-width: 215px;
}

#produtos-destaques .prateleira-col img,
#instrumentos-destaques .prateleira-col img {
    width: 100%;
}

#produtos-destaques .prateleira-col .prateleira-titulo,
#instrumentos-destaques .prateleira-col .prateleira-titulo {
    font-size: 13px;
    font-weight: bold;
    color: #041e50;
    text-transform: none;
    letter-spacing: 2px;
}

#produtos-destaques .prateleira-col .prateleira-descricao,
#instrumentos-destaques .prateleira-col .prateleira-descricao {
    font-size: 10px;
    font-weight: 300;
    color: #222222;
    text-transform: none;
}

#produtos-destaques .prateleira-col .prateleira-preco,
#instrumentos-destaques .prateleira-col .prateleira-preco {
    font-size: 18px;
    font-weight: bold;
    color: #041e50;
}

#produtos-destaques .prateleira-row .slick-arrow {
    position: absolute;
    border: 0;
    font-size: 0;
    width: 40px;
    height: 40px;
    z-index: 9;
    top: 50%;
    cursor: pointer;
}

#produtos-destaques .prateleira-row .slick-arrow.slick-prev {
    background: url(../images/icones/arrow-left-blue.jpg) #ffffff no-repeat center;
    left: -20px;
}

#produtos-destaques .prateleira-row .slick-arrow.slick-next {
    background: url(../images/icones/arrow-right-blue.jpg) #ffffff no-repeat center;
    right: -20px;
}


/*melhores-marcas*/
#melhores-marcas .melhores-marcas-row {
    max-width: 1280px;
    margin: 0 auto;
}

#melhores-marcas .melhores-marcas-col img {
    width: auto;
    margin: 0 auto;
}

#melhores-marcas .melhores-marcas-slider {
    display: flex;
    align-items: center;
    margin-top: 75px;
}

#melhores-marcas .melhores-marcas-slider .slick-arrow {
    position: absolute;
    border: 0;
    font-size: 0;
    width: 40px;
    height: 40px;
    z-index: 9;
    top: 20%;
    cursor: pointer;
}

#melhores-marcas .melhores-marcas-slider .slick-arrow.slick-prev {
    background: url(../images/icones/arrow-left-blue.jpg) #ffffff no-repeat center;
    left: 0;
}

#melhores-marcas .melhores-marcas-slider .slick-arrow.slick-next {
    background: url(../images/icones/arrow-right-blue.jpg) #ffffff no-repeat center;
    right: 0;
}

/*instagram*/
#instagram {
    width: 100%;
    text-align: center;
}

.instagram-row {
    max-width: 1280px;
    margin: 0 auto;
}

.instagram-follow {
    text-decoration: none;
    text-transform: uppercase;
    color: #222222;
    letter-spacing: 4px;
}

.instagram-post {
    margin-top: 50px;
    display: flex;
}

.instagram-post .instagram-post-col img {
    width: 100%;
}

/*sobre nos*/
#sobre-nos {
    width: 100%;
    margin: 75px auto;
}

#sobre-nos .sobre-nos-row {
    width: 1000px;
    margin: 0 auto;
    display: block;
}

#sobre-nos .sobre-nos-row p {
    font-family: 'Poppins', sans-serif;
    color: #222222;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 300;
}

/*comentarios*/
#comentarios {
    width: 100%;
    background-image: linear-gradient(to bottom, #ffffff 0, #ffffff 75%, #041e50 25%);
}

#comentarios .comentarios-row {
    width: 1000px;
    margin: 0 auto;
    display: block;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .16);

}

#comentarios .comentarios-col {
    padding: 15px 0;
    justify-content: center;
    display: flex;
    align-items: center;
}

#comentarios .comentarios-col img {
    margin-right: 10px;
    height: 80px;
    width: 80px;
}

#comentarios .comentarios-col h4 {
    margin-right: 10px;
    color: #041e50;
    font-size: 12px;
    font-weight: bold;
    text-transform: none;
}

#comentarios .comentarios-col h4 span {
    font-weight: normal;
    font-size: 10px;
}

#comentarios .comentarios-col p {
    font-size: 12px;
    color: #2f2f2f;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .16);
    border-radius: 5px;
    text-align: left;
    max-width: 520px;
}

#comentarios .comentarios-row .slick-arrow {
    position: absolute;
    border: 0;
    font-size: 0;
    width: 40px;
    height: 40px;
    z-index: 9;
    top: 40%;
    cursor: pointer;
}

#comentarios .comentarios-row .slick-arrow.slick-prev {
    background: url(../images/icones/arrow-left-blue.jpg) #ffffff no-repeat center;
    left: 55px;
}

#comentarios .comentarios-row .slick-arrow.slick-next {
    background: url(../images/icones/arrow-right-blue.jpg) #ffffff no-repeat center;
    right: 55px;
}

/*footer*/
footer {
    width: 100%;
    background-color: #041e50;
}

#footer {
    padding: 75px 0;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-row h3 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}

.footer-row ul {
    padding: 0;
}

.footer-row ul li a {
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
}

.footer-row ul.siga-nos,
.footer-row ul.security {
    display: flex;
}

.footer-row ul.siga-nos li,
.footer-row ul.security li {
    margin-right: 15px;
}


.newslatter {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 30px 20px;
    max-width: 245px;
}

.newslatter h3 {
    color: #041e50;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 2px;
}

.newslatter h3 b {
    font-weight: bold;
}

.newslatter h3 span {
    letter-spacing: .5px;
    display: block;
    font-size: 12px;
}

#form-newslatter input {
    border: 0;
    width: 100%;
    border-bottom: 1px solid #041e50;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 5px 0;
}

#form-newslatter input::placeholder {
    color: #041e50;
}

#form-newslatter input[type=submit] {
    background: transparent;
    margin-top: 15px;
    border: 1px solid #041e50;
    font-weight: bold;
    text-transform: uppercase;
    width: 155px;
}

#rodape {
    width: 100%;
    background-color: #ffffff;
}

#rodape .rodape-row {
    display: flex;
    align-items: center;
    max-width: 1000px;
    height: 60px;
    margin: 10px auto;
}

#rodape .tj {
    flex: 75%;
}

#rodape .tj p {
    text-align: left;
    font-size: 10px;
    color: #010101;
    letter-spacing: normal;
    max-width: 500px;
    line-height: 15px;
}

#rodape .tj p span {
    text-transform: uppercase;
}

#rodape .logo-econverse {
    margin-right: 40px;
    flex: 10%;
}

#rodape .vtex {
    flex: 15%;
}